- page_url = page_url_for(@page)
%div{:style => "border:solid 1px black;padding-left:12px;",
     :id => (id = "dg_sidebar_details_#{@page.class.name}_#{@page.id}")}
  = link_to_function("Close", "$('#{id}').remove();")
  %h2=h @page.title
  %p=h @page.summary
  %span= link_to("&laquo; Open", page_url, :target => "blank") if page_url
