<% url = url_for_group(group) -%>
<div class='group_entry'>
  <div class="listing_icon">
  <%= link_to avatar_for(group, 'medium'), url -%>
  </div>
  <div class="listing_info">
  <%= link_to group.display_name, url -%>
  <%= group.profiles.public.summary_html %>
  

  <% if show_committees %>
    <% group.committees.each do |committee| %>
      <% if current_user && current_user.member_of?(committee) %>
        <% url = url_for_group(committee) -%>
        <%= link_to avatar_for(committee, 'small'), url -%>
        <%= link_to committee.display_name, url -%>
        <br style='clear:left' />
      <% end %>  
    <% end %>
  <% end %>
</div>
</div>
