<h2 class="pageTitle txtRed">The Community of Users and Contributors</h2>
            <p>
<strong>The Digital Gazette relies on the input of its users.</strong> In our efforts to ensure that the Digital Gazette provides you with high quality information from the community level, to the biggest picture information and everything in between, we have reached out to the local and international analytical, governmental, humanitarian, security, development, and academic communities.
Featured Partners—
            </p>
            <p>
              <strong>Featured Partners</strong>
            <div class="pageSubNav" id="logos">
              <%= link_to(image_tag("spdi.png", :plugin => "digitalgazette"), "/spdi") %>
              <%= link_to(image_tag("acted.png", :plugin => "digitalgazette"), "/acted") %>
              <%= link_to(image_tag("iom.png", :plugin => "digitalgazette"), "/iom") %>
              <%= link_to(image_tag("imsciences.png", :plugin => "digitalgazette"), "/imsciences") %>
              <%= link_to(image_tag("rspn.png", :plugin => "digitalgazette"), "/rspn") %>
              <%= link_to(image_tag("khpalkor.png", :plugin => "digitalgazette"), "/khpalkor") %>
            </div>
            </p>

<center>              
            <div class="pageSubNav">
                <%= link_to("JOIN THE COMMUNITY", "/account/signup") %>
            </div>
</center>            <br class="clear" />

<%- content_for :left_sidebar do -%>
<h2 class="pageTitle txtRed">Who Is Involved</h2>
<p>The Digital Gazette is all about <strong>you.</strong></p>
<p>Your participation is crucial to ensuring the success of the Digital Gazette. It requires the active participation of knowledgeable, engaged users to create a rich picture of Malakand Division—local priorities, perspectives, and context.</p>
<p>Local and international partners are signing up to join the effort. What is their common goal? To provide a locally-based, information resource for those organizations and individuals who care about creating lasting peace and prosperity for the people of Malakand Division. </p>


<%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => "about/who_sidebar" %>
<%- end -%>