<% content_for :right_sidebar do %>
  <h2 class='info'><b><%= I18n.t(:information) %></b></h2>
  <%= render :partial => 'base_page/information' %>
  <%= render :partial => 'base_page/sidebar' %>
<% end %>

<div id='asset_page' style='height:1%'>

    <div class='left'>
      <div id='preview_wrapper'><div id='preview_area' class='<%= preview_area_class(@asset) %>'>
      <%= if @asset.embedding_partial.any?
            render :partial => @asset.embedding_partial
          else
            asset_link_with_preview(@asset)
          end %>
      </div></div>
      <section id="posts">
        <h4>Summary</h4>
      <p><%= @page.summary %></p>
      </section>
      <div class='upload_file_info'>
      <p><%= download_link %> &nbsp;&nbsp; <%#= upload_link %></p>
      <div id="upload_new" style="display: none;">
        <% form_tag page_url(@page, :action => 'update'), :multipart => true do -%>
          <%= file_field_tag 'asset[uploaded_data]' %>
          <%= submit_tag 'upload' %>
        <% end %>
      </div>
      </div>

      <%= render :partial => 'galleries' %>

      <!-- Intentionally Hidden for Now
      <br/>
      <h2 class='section'><%= I18n.t(:history) %></h2>
      <%# render :partial => 'version_history' %>
      <br/>
      <h2 class='section'><%= I18n.t(:other_formats) %></h2>
            <%# render :partial => 'thumbnails' %>
        -->
    </div> <!-- end left -->

</div> <!-- end asset_page -->
<br style='clear:both'/>
