%div.group_entry
  %div.listing_icon
    = cover_for(page)
  %div.listing_info
    %a{:href=> page_url(page)}
      = page.title
    = summary_for(page)
    = notices_for(page) if local_assigns[:with_notice]
  = page_information_box_for(page, local_assigns || {})