<h2 class="pageTitle txtRed span-6 first">
  Welcome to the Wiki
</h2>
            <div class="span-10 txtAlignCenter last">
            	  <%= link_to("HOW DO I DO THIS?", "/about/how") %>| 
                <%= link_to("WRITE A NEW ARTICLE", "/wiki_page/create/wiki") %>
            </div>
            <br class="clear" />
            <div id="wikisearch_box">
            
            <div id="what_do_you">What do you wish to learn about?</div>
              <div id="search_me"><% form_tag(search_url, :id => "wikiSearch") do %>

              <%= mini_search_text_field_tag %>
                    <input type="submit" value="" id="btnWikiSubmit" />
                  <%- end -%>
            </div>  
</div>  


            <br class="clear" />
<div class="span-6 prepend-4 last">
  <h4>...or Browse Articles by Topic</h4>
</div>
<br />
<div id="political_topics" class="span-8 first">
  <h5 class="topic_header"><%= link_to("Political", "/search/tag/political") %></h5>
  <ul class="bullet_indent">
    <li><%=link_to("Local Government", "/search/tag/local+government") %></li>
    <li><%=link_to("Provincial Public Administration", "/search/tag/provincial+public+administration") %></li>
    <li><%=link_to("Malakand Division Public Administration", "/search/tag/malakand") %></li>
    <li><%=link_to("Provincially Administered Tribal Areas (PATA) Governance", "/search/tag/pata") %></li>
    <li><%=link_to("Elders and Influentials", "/search/tag/elders+and+influentials") %></li>
    <li><%=link_to("Political Parties", "/search/tag/political+parties") %></li>
    <li><%=link_to("Groups", "/search/tag/groups") %></li>
    <li><%=link_to("Judicial System", "/search/tag/judicial+system") %></li>
    <li><%=link_to("Prisons", "/search/tag/prisons") %></li>
    <li><%=link_to("Federal Law Enforcement", "/search/tag/federal+law+enforcement") %></li>
    <li><%=link_to("Intelligence Bureau", "/search/tag/intelligence+bureau") %></li>
    <li><%=link_to("Army", "/search/tag/army") %></li>
    <li><%=link_to("Provincial Law Enforcement (Paramilitary)", "/search/tag/provincial+law+enforcement") %></li>
    <li><%=link_to("Local Law Enforcement", "/search/tag/local+law+enforcement") %></li>
  </ul>
</div>
<div id="relig_soc_topics" class="span-8 last">
  <h5 class="topic_header"><%= link_to("Religious","/search/tag/religious") %></h5>
  <ul class="bullet_indent">
<li><%= link_to("Sunni Theological/Jurisprudential Dimension", "/search/tag/sunni") %>
<span style="display:none">Barelvi
Deobandi
Panjperis
Mawdudis
Ahl-e-Hadith</span></li>

<li><%= link_to("Shia Theological/Jurisprudential Dimension", "/search/tag/shia") %>
<span style="display:none">
Athna Ashari
Ismaeli  
</span></li>
<li><%= link_to("Other Theological/Jurisprudential Groups", "/search/tag/other+theological+groups") %>
<span style="display:none">Ahmadi</span></li>

<li><%= link_to("Sufi Mystical Dimension", "/search/tag/sufi") %>
  <span style="display:none">
Chishtiya
Naqshbandiya
Suherwardhiya    
  </span></li>


<li><%= link_to("Organized Political Dimension","/search/tag/organized+political+dimension") %>
<span style="display:none">Jamaat-e-Islami (JI)
Jamiat-e-Ulamia Islam (JUI)
Tehrik-e-Nifaz-e-Shariat-e-Muhammad (TNSM)</span></li>

  </ul>
  <h5 class="topic_header"><%= link_to("Social", "/search/tag/social") %></h5>
  <ul class="bullet_indent">
<li><%= link_to("Linguistic Identities", "/search/tag/linguistic") %>
<span style="display:none">Pakhtun
Non Pakhtuns</span></li>


<li><%= link_to("Pakhtuns", "/search/tag/pakhtuns") %>
<span style="display:none">Mohmand
Painda Khel
Safi
Salarzai
Shinwari
Tarkranri
Ushirida
Yusufazai</span></li>

<li><%= link_to("Non Pakhtuns", "/search/tag/non+pakhtuns") %>
  <span style="display:none">
Ajars
Gujjars
Hazaras
Hindko
Kohistanis
Siraikis
'Ethnic Sikhs'
'Ethnic Hindus'
'Ethnic Christians'
  </span></li>


<li><%= link_to("Non Ethno Linguistic Identities", "/search/tag/non-ethno") %>
  <span style="display:none">
Inger (Blacksmiths)
Nai (Barbers)
Paracha (Traders and Muleteers)
Tarkan (Carpenters)
Banrhia (Hindu/Sikh Shop Owners)  
</span></li>
<li><%= link_to("Religious Descent", "/search/tag/religious+descent") %>
  <span style="display:none">
Akhundzadgan, Miangulan, and Sahibzadgan
Miangan
Hereditary Mullah
Sayyeds    
  </span></li>

  </ul>
</div>
<div class="span-8 last">

</div> 


            
<%- content_for :right_sidebar do -%>
  <%= link_to(image_tag("add_data_blue.png", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Add Data"), "/pages/new",  :style => "display: block; text-align: center; margin-left: -10px", :id => "givenow")
 %>
 <div class="roundTop txtDrkGray">
   <h3><strong>MOST VIEWED</strong></h3>
 </div>
 <div class="subPageRightLinks">
   <%- @popular.each do |page| %>
   <%= link_to(h(page.title), page_url(page)) %>
   <%- end -%>
 </div>
 <div class="roundBtm"></div>
<%- end -%>