%h2.pageTitle.txtRed= "Add to the Gazette"
%p= "Ebitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehenEbitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehen Ebitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehenEbitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehen"

- content_for :right_sidebar do
  %div#whatMenu.span-6.last.txtAlignCenter
    %ul#whatLinkList
      %li#topLi= link_to("Build a Map", "/maps/new")
      %li#mdlLi= link_to("Write an Article", "/wiki_page/create/wiki")
      %li#btmLi= link_to("Add to the Library", "/asset_page/create/asset")