%h2.pageTitle.txtRed= "Add to the Gazette"
%p= "Why should you add data to the Gazette?"

%p= "By joining our community of users and contributors, you’ll be able to:"
%ul
  %li= "create your own maps for visual analysis,"
  %li= "share the local perspective by adding your knowledge,"
  %li= "achieve greater visibility for your organization or yourself as a researcher, and"
  %li= "improve the effectiveness of ALL groups, organizations, and agencies in their reconstruction efforts for the Division."

%p= "What exactly should you add?"

%p= "MAPS—Build map layers from your data allowing others to compare data sets, perspectives, locations, and populations."
%p= "WIKI—Write new articles, contribute to articles where you see gaps, and edit when you know better."

%p= "REPORTS—Add to the library either reports that you wrote or others when you have the author’s permission to publish – the more the better!"

%p= "What are you waiting for? The Gazette needs you!"


- content_for :right_sidebar do
  %div#whatMenu.span-6.last.txtAlignCenter
    %ul#whatLinkList
      %li#topLi= link_to("Build a Map", "/maps/new?group=#{params[:group_id] || (@user ? @user.groups.first.name : nil)}")
      %li#mdlLi= link_to("Write an Article", "/wiki_page/create/wiki?group=#{params[:group_id] || (@user ? @user.groups.first.name : nil)}")
      %li#btmLi= link_to("Add to the Library", "/asset_page/create/asset?group=#{params[:group_id] || (@user ? @user.groups.first.name : nil)}")