= banner_and_header_for(@page_type)
%br



= dynamic_widgets @preferred, {:panel => "main_list"}

= pagination_links_for_widgets(@page_types) if @page_types



- content_for :right_sidebar do
  = link_to(image_tag("add_data_blue.png", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Add Data"), "/pages/new",  :style => "display: block; text-align: center; margin-left: -10px", :id => "givenow")
  = box_for(:most_viewed,{:page_types => @page_types, :limit => 1})
  = box_for(:recent, {:page_types => @page_types, :limit => 1, :panel => 'most_viewed'})




