        <span class="span-24 last" id="intro">
          <%= @group.profiles.public.summary_html %>
        </span>
        <div id="intro-navigation" class="span-24"> 
          <div class="span-14" id="intro-map">
            <div id="intro-map-about"><p>
            <%= link_to I18n.t(:create_and_explore), '#' %> <%= I18n.t(:using_our_data) %> 
            <%= link_to I18n.t(:upload_your_own), '#' %></p>       
            </div>
          </div>
          <span class="span-10 last" id="intro-text">
          <%= render :partial => 'widgets/wiki', :locals => {:wiki => @group.profiles.public.wiki, :editable => may_update_profile?, :no_title => true} %>            
          </span>
        </div> <!-- intro-navigation -->
  
<!--
<% default_hash = @show_featured ? 'featured' : 'recent-pages' -%>
<% content_for :script do %>
  <%= "onHashChanged = showTabByHash;" %>
  <%= "defaultHash = defaultHash || '#{default_hash}';" %>
<% end %>




<%# content_for :left_sidebar do %>
  <%# render :partial => 'sidebar' %>
<%# end %>

<% content_for :misc_header do %>
<%= link_to(I18n.t(:edit), groups_menu_items_url(:action => :index), :class=>'small_icon pencil_16') if may_edit_menu? %>
    <% if false && params[:welcome_box] && logged_in? -%>
      <div id='welcome_box'>
        <div class="inset_box round">
          <%# render :partial => '/me/dashboard/welcome_box_content' %>
        </div>
      </div>
    <% end -%>
  </div>
<% end if false  %>

<%# if @announcements.any? %>
  <%# render :partial => 'announcement_page/announcements'  %>
<%# end -%>

<div id="sitehome">
  <%# render :partial => 'widgets/wiki', :locals => {:wiki => @group.profiles.public.wiki, :editable => may_update_profile?, :no_title => true} %>
</div>

-->