
  <div id="contentLeft" class="span-12 prepend-1">
        	<h2 id="mainHeadLine">
            	Ebitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta  auta corehen
            </h2>
            <p>
            	Ebitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehenEbitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehen
            </p>

          <%# @group.profiles.public.summary_html %>


             <div class="homeBkt span-4 first">
             <%= link_to(image_tag("lnkMap.jpg", :plugin => "digitalgazette", :alt => "maps"), "/maps", :title => "Maps") %>
            </div>
            <div class="homeBkt span-4">
             <%= link_to(image_tag("lnkWiki.jpg", :plugin => "digitalgazette", :alt => "wiki"), "/pages", :title => "Wiki") %>
            </div>
            <div class="homeBkt span-4 last">
             <%= link_to(image_tag("lnkReports.jpg", :plugin => "digitalgazette", :alt => "reports"), "/pages/all", :title => "Reports") %>
            </div>
</div>
<div id="contentRight" class="span-11 last txtAlignCenter">
  <div id="homePicHolder">
    <%= image_tag("homePic.jpg", :plugin => "digitalgazette", :id => "homePic") %>
  </div><!--#homePicHolder// -->
</div>          
<%# content_for :right_sidebar do %>
  <%# render :partial => 'sidebar' %>  
<%# end %>


<%# content_for :left_sidebar do %>
  <%# render :partial => 'sidebar' %>
<%# end %>

<% content_for :misc_header do %>
<%= link_to(I18n.t(:edit), groups_menu_items_url(:action => :index), :class=>'small_icon pencil_16') if may_edit_menu? %>
    <% if false && params[:welcome_box] && logged_in? -%>
      <div id='welcome_box'>
        <div class="inset_box round">
          <%# render :partial => '/me/dashboard/welcome_box_content' %>
        </div>
      </div>
    <% end -%>
  </div>
<% end if false  %>

<%# if @announcements.any? %>
  <%# render :partial => 'announcement_page/announcements'  %>
<%# end -%>

<!-- <div id="sitehome">
  <%# render :partial => 'widgets/wiki', :locals => {:wiki => @group.profiles.public.wiki, :editable => may_update_profile?, :no_title => true} %>
</div> -->
