<div class="pageTitle ">
  <h2>Welcome to the Maps Library</h2>
</div>
<%- @maps.each do |map| -%>
<div class="group_entry">
  <div class="listing_icon"><%= image_tag("map.jpg", :plugin => "digitalgazette", :width => "70px") %></div>
  <div class="listing_info">
    <%= link_to(h(map.title), map_url(map.id)) %>
    <p><%=h map.description %></p>
  </div>
  <div class="listing_data">
    <% author_name = map.author['name'] || '<unknown>' -%>
    <p>
      Built by
      <% if author_link = map.author['uri'] -%>
        <%= link_to h(author_name), author_link %>
      <% else -%>
        <%= h(author_name) %>
      <% end -%>
      on
      <%= map.created_at.inspect %>
    </p>
  </div>
</div>
<%- end -%>

<%- content_for :right_sidebar do -%>

    <div id="whatMenu" class="span-6 last txtAlignCenter">
        <a href="/pages/new" style="display: block; text-align: center;" id="givenow">
          <%= image_tag("add_data_blue.png", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Add Data") %>
        </a>
        <ul id="whatLinkList">
        <li id="topLi">
          <a href="/maps/all">VIEW EXISTING MAPS</a>
        </li>
        <li>
          <a href="/maps/new">BUILD A MAP BY LOCATION (TODO!)</a>
        </li>
        <li id="btmLi">
          <a href="/maps/new">BUILD A MAP BY TOPIC (TODO!)</a>
        </li>
        </ul>
    </div><!--#whatMenu//-->

<%- end -%>

