<style>
#maker_map {width: 100%; height: 500px; margin-top: -15px;}
#holder {width: 100%;}
</style>
<div class="geocommons_map" class="span-24" id="maker_map" >
</div><br/>
<% geoiq, map_id = ((RAILS_ENV == "development") ? ["f1.local","8"] : ["digitalgazette.org", "159"]) %>
 <script type="text/javascript" charset="utf-8" src="http://maker.<%= geoiq %>/javascripts/embed.js"></script>
<script type="text/javascript" charset="utf-8">
xfMaker.maker_host='http://maker.<%= geoiq %>';Maker.finder_host='http://finder.<%= geoiq %>';Maker.core_host='http://core.<%= geoiq %>';
  Maker.load_map("maker_map", <%= map_id %>);
</script>

<%= render :partial => "maps/action_buttons" %>
