<style>
#maker_map_<%= @map_id %> {width: 100%; height: 500px; margin-top: -15px;}
#holder {width: 100%;}
</style>

<% if @map.nil? %>
  <strong>No map found - please search to find what you are looking for.</strong>
<%- else -%>
<h2><%# @map["title"] %></h2>
<div class="geocommons_map" id="maker_map_<%= @map_id %>" style="height: 100%;"></div><br/>
 <script type="text/javascript" charset="utf-8" src="http://digitalgazette.vm/javascripts/embed.js"></script>
<script type="text/javascript" charset="utf-8">
  Maker.maker_host='http://digitalgazette.vm/maker';Maker.finder_host='http://digitalgazette.vm/finder';Maker.core_host='http://digitalgazette.vm/core';
  Maker.load_map("maker_map_<%= @map_id %>", "<%= @map_id %>");
</script>


<p><%= @map["description"] %></p>

<%- end -%>
