%head
  %meta{ :name=>"description", :content=>""}
  %meta{ :name=>"keywords", :content=>""}
  %meta{"http-equiv"=>"Content-Type", :content=>"application/xhtml+xml;charset=utf-8"}
  =favicon_link
  %title
    =h title_from_context
  / begin styling
  = crabgrass_stylesheets("ui_base")
  = stylesheet_link_tag("reset.css", :plugin => "digitalgazette")
  = stylesheet_link_tag("screen", :plugin => "digitalgazette")
  = stylesheet_link_tag("cleanstickyftr.css", :plugin => "digitalgazette")
  = stylesheet_link_tag("dig_gaz.css", :plugin => "digitalgazette")
  / end styling
  / begin scripts
  = crabgrass_javascripts
  = javascript_include_tag 'sidebar'
  / end scripts
  = call_hook :html_head
  = yield :html_head