<%#
after_load_js = %Q[
after_load_function = function() {
Field.focus('login')}}); return false;
}]
%>
<div id="hdrLogin" class="span-12 first txtWhite">
  <%- if logged_in? -%>
    <%= link_to(I18n.t(:profile), '/'+current_user.login) %> |
    <%= link_to_active(I18n.t(:menu_link_account), {:controller => '/me', :action => 'edit'}, @active_tab == :account) %> |
  <%= link_to(I18n.t(:menu_link_logout), :controller => '/account', :action => 'logout') %>
  <%= "| #{admin_option}" if may_admin_site? -%>
  <%- call_hook :top_right_links -%>
</ul>
<%- elsif !@login_form_already_rendered -%>
<% form_tag :controller => 'account', :action => 'login', :id => "frmLogin" do -%>
<%= hidden_field_tag 'redirect', params[:redirect] || request.request_uri %>
<%= text_field_tag 'login', '', :size => 10  %>
<%= password_field_tag 'password', '', :size => 10 %>
<%= submit_tag I18n.t(:log_in), :id => "btnLogin" %>
<% end -%>
<a href="#" class="txtWhite"><%= I18n.t(:forgot_password_link) %></a> | <a href="/account" class="txtWhite"><%= I18n.t(:signup_link) %></a>
<%- end -%>
</div><!--#hdrLogin//-->                   
<br class="clear" />
<h1 id="hdrLogo" class="span-9 first">
  <a href="/"><%# custom_masthead_site_title %></a>
</h1>
<div id="hdrRight" class="span-13 last txtAlignRight">
  <div id="search">
    <% form_tag(search_url) do %>
    <%= mini_search_text_field_tag %>            	  
    <!-- <input type="text" value="Search" id="txtSearch" name="txtSearch" size="26" /> -->
    <input type="submit" id="btnSearch" value="" />
    <br class="clear" />
    <%- end -%>
  </div><!--#search//-->
  <br class="clear" />
  <div id="topSubNav">
    <a href="/about/what"><%= I18n.t(:what_is_this) %></a> |
    <a href="/about/how"><%= I18n.t(:how_to_use) %></a> | 
    <a href="/about/who"><%= I18n.t(:who_we_are) %></a>
  </div><!--#topSubNav//-->
</div><!--#hdrRight//-->
<br class="clear"/>



